.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
:root {
  --font-size-base: 16px;
  --font-size-xs: 14px;
  --font-size-sm: 15px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
}
body {
  font-size: var(--font-size-base);
}
.thumbnail {
  min-width: 150px !important;
  height: 150px !important;
}
.file__filename {
  display: none;
}